<section id="experiency">
    <h1>Experiencia Profissionals</h1>
    <div class="desc__empresa">
        <img src="/src/images/linkedin.svg" alt="logo empresa">
        <div class="desc__info">
            <h2>Estagio universitário</h2>
            <p>12/04 - momento - 1 mes e 15 dias</p>
            <ul id="lista__fazeres">
                <li id="atuacao">Atendimento ao público.</li>
                <li id="atuacao">Auxiliar de coordenação.</li>
                <li id="atuacao">Trabalho em equipe.</li>
                <li id="atuacao">Gerenciamento de salas de aulas.</li>
            </ul>
            <p id="competencias">
                Competências:
            </p>
            <p id="skills">
                Boa comunição, trabalho em equipe, assistente, auxiliar, gestão, educado, simpático.
            </p>
        </div>
    </div>
    <div class="desc_empresa">

    </div>
    <div class="desc_empresa">

    </div>
    <div class="desc_empresa">

    </div>
</section>
