<section id="projects">
    <h1>Projects</h1>
    <div class="projects-section">
        <div class="card">
            <a href="https://github.com/Luiz-Filipee/OnlineReservation">
                <h2>Online reservation</h2>
            </a>
            <ul>
                <li>Java</li>
            </ul>
            <p>Este é um sistema desenvolvido com a linguagem Java, que permite o usuário reservar, remover e atualizar reservas de hospedagem online!</p>
        </div>
        <div class="card">
            <a href="">
                <h2>Validate Password</h2>
            </a>
            <ul>
                <li>Java</li>
                <li>Spring Boot</li>
            </ul>
            <p>Este projeto é um sistema desenvolvido em java utilizando spring boot, é utilizado para validar senhas de acordo com algumas especificações. * Deve haver no minimo 8 caracteres, * Deve haver no minimo uma letra maiuscula, * Deve haver no minimo um número, * Deve haver no minimo um caractere especial!</p>
        </div>
        <div class="card">
            <h2>Sistema bancário - em desenvolvimento</h2>
            <ul>
                <li>Java</li>
                <li>Spring boot</li>
                <li>Angular</li>
            </ul>
            <p>Sistema bancária, backend foi desenvolvido comm java e spring boot, e o frontend desenvolvido com angular, um sistema onde permite o usuario interagir com uma interface moderna e de facil utilização. Tem funcionalidades presentes, como: deposito, saque, transferência, e etc.</p>
        </div>
        <div class="card">
            <a href="https://github.com/Luiz-Filipee/tela-login">
                <h2>Tela de login</h2>
            </a>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p>Tela interativa e moderna representando uma tela de login, cadastro e recuperação de conta</p>
        </div>
    </div>
    <a href="#projects">
    <btn-primary
            text="VER TODOS PROJETOS"
        ></btn-primary>
    </a>
</section>
