<section>
    <h1>Projects</h1>
    <div class="projects-section">
        <div class="card">
            <h2>Title project</h2>
            <ul>
                <li>postgresql</li>
                <li>sql</li>
                <li>python</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptate. Animi illo corporis dignissimos quo ratione non quidem sit voluptatum vitae repudiandae veritatis nobis obcaecati temporibus minima excepturi, saepe voluptates!</p>
        </div>
        <div class="card">
            <h2>Title project</h2>
            <ul>
                <li>postgresql</li>
                <li>sql</li>
                <li>python</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptate. Animi illo corporis dignissimos quo ratione non quidem sit voluptatum vitae repudiandae veritatis nobis obcaecati temporibus minima excepturi, saepe voluptates!</p>
        </div>
        <div class="card">
            <h2>Title Project</h2>
            <ul>
                <li>postgresql</li>
                <li>sql</li>
                <li>python</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis, dolorem alias cumque perferendis quas rerum autem quis, quod laborum enim architecto minus iusto, molestias iure nam ipsum. Repellat, suscipit.</p>
        </div>
        <div class="card">
            <h2>Title Project</h2>
            <ul>
                <li>postgresql</li>
                <li>sql</li>
                <li>python</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis, dolorem alias cumque perferendis quas rerum autem quis, quod laborum enim architecto minus iusto, molestias iure nam ipsum. Repellat, suscipit.</p>
        </div>
    </div>
    <btn-primary
            text="VER TODOS PROJETOS"
        ></btn-primary>
</section>
