<section>
    <h1>About me</h1>
    <div class="about-section">
        <app-line-animation></app-line-animation>
        <p>Olá! Eu sou Luiz Filipe Minohala Kato, um Desenvolvedor Full Stack, com foco em Java / Angular / Android apaixonado(a) por transformar ideias em realidade através da arte do desenvolvimento de software. Com uma sólida formação em andamento em engenharia de software e há 3 anos de experiência aprimorando minhas tecnicas profissionais e desenvolvendo habilidades pessoais, estou comprometido(a) em criar soluções inovadoras que impulsionam a mudança e simplificam a complexidade.
        <br>Minha jornada no mundo da programação começou com uma paixão por resolver problemas. Ao longo dos anos, mergulhei em diversos projetos desafiadores que aprimoraram minhas habilidades técnicas e me trouxeram uma compreensão mais profunda das nuances do desenvolvimento de software.</p>
    </div>
</section>
