section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

section .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

section .main-content span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #151717;
}

section .main-content h1 {
    background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 40px;
    margin: 0;
}

section .main-content p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(31, 38, 38, 1);
    text-align: justify;
}

@media (min-width: 1080px){
    section{
        flex-direction: row;
        justify-content: space-between;
    }

    section .main-content{
        align-items: flex-start;
        max-width: 50%;
    }

    section .main-content h1 {
        font-size: 56px;
    }
}
